@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: rgb(61,54,58);
    background: linear-gradient(80deg, rgba(61,54,58,1) 7%, rgba(60,52,55,1) 12%, rgba(60,52,55,1) 18%, rgba(94,123,182,1) 80%, rgba(39,90,186,1) 100%);
    
}

.banner {
    background-image: url('https://source.unsplash.com/O_Xy25Dj7Mo/1920x1080'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    
}



#intro{
    text-align: center;
    color: #000000; font-family: 'Lato', sans-serif; font-size: 60px; font-weight: 500; line-height: 58px; margin: 0 0 58px;
    text-shadow: 0.1em 0.1em 0.2em black;
}


h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.fields{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#Prom{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: #a0d18c;
     width: 250px;
     height: 30px;
     padding-left: 10px;
}

#Prom:focus {
    outline: none;
    border: 1px solid #a0d18c;
    color: #2d9fd9;
}

#TCC{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #2d9fd9;
    color: #a0d18c;
    width: 250px;
    height: 30px;
    padding-left: 10px;
}

#TCC:focus {
    outline: none;
    border: 1px solid #a0d18c;
    color: #2d9fd9;
}

#TCO{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #2d9fd9;
    color: #a0d18c;
    width: 250px;
    height: 30px;
    padding-left: 10px;
}

#TCO:focus {
    outline: none;
    border: 1px solid #a0d18c;
    color: #2d9fd9;
}


.fields >  * {

   flex:1 1 33% ;
    
}

button:hover {
    cursor: pointer;
    background: rgb(218,11,11);
    background: linear-gradient(80deg, rgba(218,11,11,1) 25%, rgba(218,11,11,0.41780462184873945) 99%);
    

   }
   button:active {
    background: #3a6186;  
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  
    background: linear-gradient(to right, #89253e, #3a6186); 
    
 
   }

#result{
    background: white;
    border: 2px solid black;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 1em;
    border: 2px solid #11517D;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

button{
   background: rgb(218,11,11);
    background: linear-gradient(80deg, rgba(218,11,11,1) 25%, rgba(218,11,11,0.41780462184873945) 99%);
    color: white;
    padding: 16px 30px;
    border-radius: 10px;
    transition: .3s;
    font-size: 20px;
    font-weight: bold;
    border: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    
}


/*ACÁ COMIENZA EL NAV*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgb(61,54,58);
    background: linear-gradient(80deg, rgba(61,54,58,1) 7%, rgba(60,52,55,1) 12%, rgba(60,52,55,1) 18%, rgba(94,123,182,1) 80%, rgba(39,90,186,1) 100%);
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.logo h1 b{
    color: white;
}

.menu {
    height: 80px;
    margin-right: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #ffffff;
}

.menu .text-menu-selected{
    color: #ffffff;
}

.menu nav ul li a i{
    display: none;
}

/*Footer - pie de pagina*/
.container-footer{
    width: 100%;
    padding: 40px 0;
    background: rgb(61,54,58);
background: linear-gradient(80deg, rgba(61,54,58,1) 7%, rgba(60,52,55,1) 12%, rgba(60,52,55,1) 18%, rgba(94,123,182,1) 80%, rgba(39,90,186,1) 100%);
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    text-decoration-line: none;
    background: #A1B2BF; 
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #ffffff;
    
}



footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
    
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
    
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #5d5b5b7a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

